.header {
}

.header__container {
}

/* Верхняя часть header */

.header__top {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--dark-bg-color);
  box-shadow: 0 0 4px var(--dark-bg-color);
}

.header__burger {
  display: none;
  margin: 0;
  padding: 0;
  width: 36px;
  height: 28px;
  position: relative;
  z-index: 1;

  border: none;
  border-top: 3px solid var(--light-text-color);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: border-top-color linear 0.3s;
}

.header__burger:hover {
  border-top-color: var(--active-text-color);
}

.header__burger:focus-visible {
  border-top-color: var(--active-text-color);
}

.header__burger:active {
  border-top-color: var(--focus-bg-color);
}

.header__burger::before,
.header__burger::after {
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  background-color: var(--light-text-color);
  transition: background-color linear 0.3s, transform linear 0.3s;
}

.header__burger::before {
  top: 9px;
  width: 28px;
}

.header__burger::after {
  bottom: 0;
  width: 24px;
}

.header__burger:hover::before,
.header__burger:hover::after {
  background-color: var(--active-text-color);
}

.header__burger:focus-visible::before,
.header__burger:focus-visible::after {
  background-color: var(--active-text-color);
}

.header__burger:active::before,
.header__burger:active::after {
  background-color: var(--focus-bg-color);
}

.header__logo {
  position: relative;
  z-index: 1;
}

.header__img {
  display: block;
}

.header__nav {
  margin-top: 4px;
  width: 78.4%;
  position: relative;
  z-index: 1;
  justify-content: space-between;

  color: var(--light-text-color);
  font-size: calc(var(--main-font-size) + 2px);
}

.header__list {
  flex-wrap: wrap;
}

.header__item:not(:last-child) {
  margin-right: 51px;
}

.header__link {
  display: block;
  padding: 2px 6px 8px;
  font-weight: 600;
  transition: color linear 0.3s, background-color linear 0.3s;
  outline: none;
}

.header__login {
  position: relative;
  z-index: 1;
  align-items: center;

  padding: 2px 6px 8px;
  margin-right: -7px;

  transition: color linear 0.3s, background-color linear 0.3s;
  outline: none;
}

.header__login::before {
  content: "";
  width: 18px;
  height: 13px;
  margin-right: 5px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
  transition: background-image linear 0.3s;
}

.header__login:focus-visible,
.header__link:focus-visible {
  background-color: var(--focus-bg-color);
}

.header__login:hover,
.header__item:hover {
  color: var(--hover-text-color);
}

.header__login:hover::before {
  background-image: url("../img/login_hover.svg");
}

.header__login:active,
.header__item:active {
  color: var(--active-text-color);
}

.header__login:active::before {
  background-image: url("../img/login_active.svg");
}

/* Нижняя часть header */

.header__bottom {
  padding-top: 22px;
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__menu {
  position: relative;
  z-index: 1;
  width: 65.3%;
  margin-left: -8px;
  font-size: 18px;
  color: var(--light-text-color);
}

.menu__list {
  justify-content: space-between;
}

.menu__item {
  position: relative;
}

.menu__btn {
  display: flex;
  align-items: center;
  padding: 2px 6px 8px;
  color: var(--light-text-color);
  transition: color linear 0.3s;
}

.menu__btn::after {
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 5px;
  border-left: 1px solid var(--light-text-color);
  border-bottom: 1px solid var(--light-text-color);
  transform: rotate(-45deg);
  transition: border linear 0.3s, transform linear 0.3s;
}

.menu__btn:hover {
  color: var(--hover-text-color);
}

.menu__btn:focus-visible {
  background-color: var(--focus-bg-color);
}

.menu__btn:active {
  color: var(--active-text-color);
}

.menu__btn.submenu-open {
  color: var(--active-text-color);
}

.menu__btn:hover::after {
  border-left-color: var(--hover-text-color);
  border-bottom-color: var(--hover-text-color);
}

.menu__btn:active::after {
  border-left-color: var(--active-text-color);
  border-bottom-color: var(--active-text-color);
}

.menu__btn.submenu-open::after {
  border-left-color: var(--active-text-color);
  border-bottom-color: var(--active-text-color);
  transform: rotate(135deg) translate(4px, -4px);
}

.submenu {
  position: absolute;
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 300px;
  height: 300px;
  top: 47px;
  background-color: rgba(0, 0, 0, 0.4);
}

.no-js .submenu {
  overflow-y: scroll;
}

.submenu-open ~ .submenu {
  display: block;
}

.submenu__item {
  position: relative;
  margin: 0 auto;
  width: 220px;
}

.submenu__item:not(:last-child) {
  margin-bottom: 20px;
}

.submenu__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.submenu__link {
  display: block;
  position: relative;
  z-index: 1;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: 2px solid transparent;
  line-height: 16px;
  transition: border-color 0.3s linear;
}

.submenu__link:hover,
.submenu__link:focus-visible {
  border-color: var(--active-text-color);
}

.submenu__link:active {
  background-image: linear-gradient(
    0deg,
    rgba(194, 131, 243, 0.4),
    rgba(194, 131, 243, 0.4)
  );
}

.header__search {
  position: relative;
  z-index: 1;
  width: 15.65%;
}

.search__btn {
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 22px;
  cursor: unset;
}

.search__btn svg {
  pointer-events: none;
  transition: fill linear 0.3s;
}

.search__btn rect,
.search__btn path {
  transition: fill linear 0.3s;
}

.search__input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  color: var(--light-text-color);

  border-bottom: 1px solid var(--light-text-color);
  outline: none;
}

.search__input:hover,
.search__input:focus {
  border-bottom-color: var(--hover-text-color);
}

.search__input:active {
  border-bottom-color: var(--active-text-color);
}

.search__input::placeholder {
  color: var(--light-text-color);
  font-size: 18px;
  font-weight: 400;
}

.search__close {
  display: none;
  width: 29px;
  height: 29px;
  margin-left: 23px;
  position: relative;
}

.search__close::before,
.search__close::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 3px;
  top: 13px;
  left: -3px;
  background-color: var(--light-text-color);
  transition: background-color linear 0.3s;
}

.search__close::before {
  transform: rotate(45deg);
}

.search__close::after {
  transform: rotate(-45deg);
}

.search__close:hover::before,
.search__close:hover::after,
.search__close:focus-visible::before,
.search__close:focus-visible::after {
  background-color: var(--hover-text-color);
}

.search__close:active::before,
.search__close:active::after {
  background-color: var(--active-text-color);
}

/* Кастомный скролл */

.simplebar-track.simplebar-vertical {
  top: 40px;
  bottom: 40px;
  right: 19px;
  width: 2px;
  background-color: var(--dark-bg-color);
}

.simplebar-scrollbar:before {
  background-color: var(--main-bg-color);
  right: 0;
  left: 0;
  border-radius: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
