@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title {
    font-size: 28px;
  }

  /* Header */
  .header__top {
    padding-top: 11px;
    padding-bottom: 10px;
    width: calc(50% + 48px);
  }

  .header__top::before {
    height: 45px;
  }

  .header__burger {
    width: 25px;
    height: 18px;

    border-top-width: 2px;
  }

  .header__burger::before {
    top: 6px;
    height: 2px;
    width: 16px;
  }

  .header__burger::after {
    bottom: 0;
    height: 2px;
    width: 10px;
  }

  .header__logo {
    width: 97px;
  }

  .header__bottom {
    left: 15px;
    right: 15px;
  }

  .header__search {
    left: 93.7%;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 11px;
  }

  .search--open .header__search {
    transform: translateX(-93.8%);
  }

  .search__btn {
    width: 18px;
    height: 18px;
  }

  .search__close {
    width: 15px;
    height: 15px;
    margin-left: 23px;
  }

  .search__close::before,
  .search__close::after {
    width: 19px;
    height: 2px;
    top: 6px;
    left: -2px;
  }

  .header.open .header__burger {
    width: 15px;
    height: 15px;
  }

  .header.open .header__burger::before,
  .header.open .header__burger::after {
    left: -1px;
    width: 19px;
    height: 2px;
  }

  .header.open .header__burger::before {
    top: 6px;
  }

  .header.open .header__burger::after {
    bottom: 7px;
  }

  .header__nav {
    top: 0;
    margin-left: 0px;
    padding-top: 47px;
  }

  .header__list {
    margin-bottom: 23px;
  }

  .header__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__login {
    width: 115px;
    margin-left: 0;
    padding: 9px 14px 10px 10px;
    font-size: 12px;
    font-weight: 600;
  }

  .header__login::before {
    width: 14px;
    height: 9px;
    margin-right: 1px;
  }

  /* Hero */

  .hero {
    padding-top: 166px;
    padding-bottom: 45px;
  }

  .hero__container {
    text-align: center;
  }

  .hero__title {
    max-width: 100%;
    font-size: 32px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 36px;
  }

  .hero__discription {
    margin-bottom: 42px;
    padding-left: 12px;
    padding-right: 12px;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .hero__link {
    width: 200px;
    padding: 9px 0;
    font-size: 12px;
    line-height: 16px;
  }

  /* About */

  .about {
    padding: 50px 0 41px;
  }

  .about__title {
    margin-bottom: 12px;
  }

  .about__description {
    font-size: 14px;
    line-height: 28px;
  }

  /* Gallery */

  .gallery {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .gallery__title {
    margin-bottom: 17px;
  }

  .galery__filter {
    margin-bottom: 477px;
  }

  .choices {
    margin-top: 10px;
    width: 100%;
  }

  .gallery__right {
    top: 167px;
    left: 15px;
    right: 15px;
  }

  .swiper {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .swiper-slide {
    width: 290px;
    height: 367px;
  }

  .swiper-pagination {
    padding-left: 0;
    bottom: 3px;
    top: unset;
    text-align: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: unset;
    bottom: 0;
    text-align: center;
  }

  .swiper-button-prev {
    left: calc(50% - 65px);
  }

  .swiper-button-next {
    left: calc(50% + 35px);
  }

  /* Modals */

  .modal-gallery {
    width: 290px;
    height: 600px;
    display: block;
    position: relative;
  }

  .modal-gallery__left {
    width: 290px;
    height: 200px;
  }

  .modal-gallery__right {
    width: 290px;
    height: 400px;
    padding: 17px 21px 26px;
    position: unset;
  }

  .modal-gallery__title {
    font-size: 24px;
  }

  .modal-gallery__date {
    margin-bottom: 12px;
  }

  .modal-gallery__description {
    line-height: 30px;
  }

  .modal-gallery__button {
    top: 5px;
    right: 5px;
  }
}
