.projects {
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects__title {
  margin-bottom: 16px;
}

.projects__description {
  width: 66%;
  margin: 0;
  margin-bottom: 20px;
  line-height: 32px;
}

.projects__description button {
  width: 16px;
  height: 16px;
  padding: 0;

  position: relative;
  transform: translateY(2px);

  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.projects__description button:hover:not(:focus-visible) svg,
.projects__description button:focus-visible svg {
  fill: #d1a9f0;
}

.projects__description button:active:not(:focus-visible) svg {
  fill: #9d5cd0;
}
.projects__description button:active:not(:focus-visible) svg path:last-child {
  stroke: white;
}

.projects__description a {
  position: relative;
  color: var(--active-text-color);
  font-weight: 600;
  border-bottom: 1px solid transparent;
  outline: none;
  transition: border-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.projects__description a::before {
  content: "";

  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: -2px;
  bottom: -2px;
  left: -5px;
  right: -5px;

  background-color: var(--active-text-color);
  transition: opacity 0.4s ease-in-out;
}

.projects__description a:focus-visible {
  color: var(--main-bg-color);
}
.projects__description a:focus-visible::before {
  opacity: 1;
}

.projects__description a:hover:not(:focus-visible) {
  border-bottom-color: var(--active-text-color);
}

.projects__description a:active:not(:focus-visible) {
  border-bottom-color: var(--focus-bg-color);
  color: var(--focus-bg-color);
}

.projects__partners {
  margin: 0;
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 600;
}

.project__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper--projects {
  width: 90.6%;
}

.swiper-slide--projects {
  width: 450px;
  height: 150px;
}

.swiper__img--projects {
  display: block;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: filter 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.swiper-slide--projects a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  outline: 1px solid #cacaca;
  outline-offset: -2px;
  transition: outline-color 0.4s ease-in-out;
}

.swiper-slide--projects a:focus-visible {
  outline-color: var(--active-text-color);
}

.swiper-slide--projects a:hover:not(:focus-visible) .swiper__img--projects {
  filter: grayscale(0);
  opacity: 1;
}

.swiper-slide--projects a:active:not(:focus-visible) {
  outline-color: var(--active-text-color);
}

.swiper-slide--projects a:active:not(:focus-visible) .swiper__img--projects {
  filter: grayscale(0);
  opacity: 1;
}

.button-prev--projects,
.button-next--projects {
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ececec;
  border: 2px solid #ececec;
  border-radius: 50%;

  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.button-prev--projects:focus-visible,
.button-next--projects:focus-visible {
  border-color: var(--active-text-color);
}

.button-prev--projects:hover:not(:focus-visible),
.button-next--projects:hover:not(:focus-visible) {
  background-color: #d1a9f0;
}

.button-prev--projects:active:not(:focus-visible),
.button-next--projects:active:not(:focus-visible) {
  background-color: #d1a9f0;
  border-color: var(--active-text-color);
}

.button-prev--projects.swiper-button-disabled,
.button-next--projects.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.5;
}

.tippy-content {
  text-align: center;
  background-color: var(--active-text-color);
}

.tippy-arrow {
  color: var(--active-text-color);
}
