html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: var(--my-font);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--main-text-color);
  word-wrap: break-word;

  background-color: var(--main-bg-color);

  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

.no-js__warning {
  display: none;
}

.no-js .no-js__warning {
  display: block;
}

body.modal-active {
  overflow: hidden;
}
