html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: var(--my-font);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--main-text-color);
  word-wrap: break-word;

  background-color: var(--main-bg-color);

  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: 0 auto;
}

.no-js__warning {
  display: none;
}

.no-js .no-js__warning {
  display: block;
}

.modals {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity ease-in-out 0.5s, visibility ease-in-out 0.5s;
}

body.modals-active {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

body.modals-active .modals {
  opacity: 1;
  visibility: visible;
}

.modal {
  display: none;
}

.modal.active {
  display: block;
}

.bg-focus::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  background-color: var(--focus-bg-color);
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.bg-focus:focus-visible::before {
  opacity: 1;
}

.bg-focus:hover:not(:focus-visible) {
  color: var(--hover-text-color);
}

.bg-focus:active:not(:focus-visible) {
  color: var(--active-text-color);
}
